@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-tertiary: #5046e5;
  --color-secondary: #6b7280;
  --color-text-main: #111827;
  --color-border: #e5e7eb;
  --color-success-bg: #dcfce7;
  --color-gradient-start: #6c63ff;
  --color-gradient-via: #4f46e5;
  --color-gradient-end: #7c6af7;
  --color-container: #f0f2f8;
  --shadow-button: 0px 1px 3px 0px #0000001a;
  --shadow-card: 0px 10px 15px -3px #0000001a;
}
body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

button {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
